<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap 
    fxLayoutGap.xs="0">

  <div fxFlex="30" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>
            {{ dish.name | uppercase}}
          </h2>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-img src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p> {{ dish.description }} </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px"
     fxFlex="40"
     *ngIf="dish">
     <mat-list>
      <h1>Comments</h1>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p class="comments">
          <span matLine> {{ comment.comment }} </span>
          <span matLine> {{ comment.rating }} stars </span>
          <span matLine> -- {{ comment.author }} {{ comment.date | date }} </span>
        </p>
      </mat-list-item>
     </mat-list>
    </div>

</div>