@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #303030;
    font-family: roboto;
    color: rgba(251, 230, 230, 0.85);
}
.container {
    margin: 20px;
    display: flex;

    .mat-list .mat-list-item {
        color: rgba(251, 230, 230, 0.85);
    }
}